@page "/Media"
<PageTitle>Your Media | Novel Infinite</PageTitle>
<div class="page-wrapper">
    <div class="page-header">
        <div class="container-xl">
            <div class="row">
                <div class="col">
                    <div class="page-title">Your Media</div>
                    <div class="page-pretitle">Browse all your media items in Infinite here</div>
                </div>
                <div class="col-auto">
                    <div class="btn-list">
                        <button class="btn">
                            <BSIcon Icon="@TablerIcons.Plus" Color="Color.Dark" />
                            Add
                        </button>
                        <button class="btn">
                            <BSIcon Icon="@TablerIcons.Settings" Color="Color.Dark" />
                            Settings
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <p>Content comes here</p>
        </div>
    </div>
</div>